In [2]:
import requests
import pandas as pd

In [3]:
api_url = 'https://randomuser.me/api/'

In [6]:
response = requests.get(api_url)

In [9]:
response.json()['results']

[{'gender': 'male',
  'name': {'title': 'Mr', 'first': 'Jeremy', 'last': 'Roy'},
  'location': {'street': {'number': 8297, 'name': 'Grand Marais Ave'},
   'city': 'St. Antoine',
   'state': 'Nunavut',
   'country': 'Canada',
   'postcode': 'B7V 8Y2',
   'coordinates': {'latitude': '-66.0606', 'longitude': '-147.9802'},
   'timezone': {'offset': '+5:30',
    'description': 'Bombay, Calcutta, Madras, New Delhi'}},
  'email': 'jeremy.roy@example.com',
  'login': {'uuid': '7cbd8d99-48fa-4c58-b932-93f5b6bbf212',
   'username': 'bluedog611',
   'password': 'mandrake',
   'salt': 'pG7OXxGp',
   'md5': '9c86cfb9a0388b425c01d8e12bc05c39',
   'sha1': '2de36e6a6b40e9b988389d081866dc87996679ac',
   'sha256': 'b5f6af106725560f66e88006650934210c16d580279bd16d03a70acd7e966d6f'},
  'dob': {'date': '1955-08-25T02:51:24.372Z', 'age': 70},
  'registered': {'date': '2022-04-20T09:06:39.249Z', 'age': 3},
  'phone': 'S37 T91-1181',
  'cell': 'U09 W46-5916',
  'id': {'name': 'SIN', 'value': '762385482'},
  'picture': {'large': 'https://randomuser.me/api/portraits/men/35.jpg',
   'medium': 'https://randomuser.me/api/portraits/med/men/35.jpg',
   'thumbnail': 'https://randomuser.me/api/portraits/thumb/men/35.jpg'},
  'nat': 'CA'}]

In [12]:
pd.DataFrame(response.json()['results'])

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
0,male,"{'title': 'Mr', 'first': 'Jeremy', 'last': 'Roy'}","{'street': {'number': 8297, 'name': 'Grand Mar...",jeremy.roy@example.com,{'uuid': '7cbd8d99-48fa-4c58-b932-93f5b6bbf212...,"{'date': '1955-08-25T02:51:24.372Z', 'age': 70}","{'date': '2022-04-20T09:06:39.249Z', 'age': 3}",S37 T91-1181,U09 W46-5916,"{'name': 'SIN', 'value': '762385482'}",{'large': 'https://randomuser.me/api/portraits...,CA

In [11]:
pd.DataFrame(response.json()['results'])[['gender', 'email', 'phone']]

  gender                   email         phone
0   male  jeremy.roy@example.com  S37 T91-1181

In [20]:
api = 'https://api.apilayer.com/fixer/timeseries?start_date=2023-01-01&end_date=2023-06-10&base=USD&symbols=EUR,GBP&apikey=bRjFIndXHlCV7uhCiD6s26UUPE5VLOld'

In [21]:
response = requests.get(api)

In [25]:
response.json()

{'success': True,
 'timeseries': True,
 'start_date': '2023-01-01',
 'end_date': '2023-06-10',
 'base': 'USD',
 'rates': {'2023-01-01': {'EUR': 0.934185, 'GBP': 0.826446},
  '2023-01-02': {'EUR': 0.93656, 'GBP': 0.82904},
  '2023-01-03': {'EUR': 0.94818, 'GBP': 0.835515},
  '2023-01-04': {'EUR': 0.94265, 'GBP': 0.82931},
  '2023-01-05': {'EUR': 0.950397, 'GBP': 0.839571},
  '2023-01-06': {'EUR': 0.93775, 'GBP': 0.826925},
  '2023-01-07': {'EUR': 0.93775, 'GBP': 0.826925},
  '2023-01-08': {'EUR': 0.93844, 'GBP': 0.825395},
  '2023-01-09': {'EUR': 0.93158, 'GBP': 0.82058},
  '2023-01-10': {'EUR': 0.93122, 'GBP': 0.822785},
  '2023-01-11': {'EUR': 0.929011, 'GBP': 0.822501},
  '2023-01-12': {'EUR': 0.92083, 'GBP': 0.818475},
  '2023-01-13': {'EUR': 0.92185, 'GBP': 0.817595},
  '2023-01-14': {'EUR': 0.92185, 'GBP': 0.817595},
  '2023-01-15': {'EUR': 0.92385, 'GBP': 0.817955},
  '2023-01-16': {'EUR': 0.92338, 'GBP': 0.819215},
  '2023-01-17': {'EUR': 0.92701, 'GBP': 0.814205},
  '2023-01-18': {'EUR': 0.92616, 'GBP': 0.80975},
  '2023-01-19': {'EUR': 0.92293, 'GBP': 0.80685},
  '2023-01-20': {'EUR': 0.919404, 'GBP': 0.807168},
  '2023-01-21': {'EUR': 0.91935, 'GBP': 0.807168},
  '2023-01-22': {'EUR': 0.92042, 'GBP': 0.8061},
  '2023-01-23': {'EUR': 0.91978, 'GBP': 0.807715},
  '2023-01-24': {'EUR': 0.91846, 'GBP': 0.811125},
  '2023-01-25': {'EUR': 0.91561, 'GBP': 0.80569},
  '2023-01-26': {'EUR': 0.917896, 'GBP': 0.805502},
  '2023-01-27': {'EUR': 0.91975, 'GBP': 0.807689},
  '2023-01-28': {'EUR': 0.91975, 'GBP': 0.807689},
  '2023-01-29': {'EUR': 0.91987, 'GBP': 0.806494},
  '2023-01-30': {'EUR': 0.921705, 'GBP': 0.809755},
  '2023-01-31': {'EUR': 0.92072, 'GBP': 0.81237},
  '2023-02-01': {'EUR': 0.90806, 'GBP': 0.807325},
  '2023-02-02': {'EUR': 0.91703, 'GBP': 0.818197},
  '2023-02-03': {'EUR': 0.92355, 'GBP': 0.830013},
  '2023-02-04': {'EUR': 0.92355, 'GBP': 0.829566},
  '2023-02-05': {'EUR': 0.92674, 'GBP': 0.830275},
  '2023-02-06': {'EUR': 0.932023, 'GBP': 0.83154},
  '2023-02-07': {'EUR': 0.93202, 'GBP': 0.82963},
  '2023-02-08': {'EUR': 0.93315, 'GBP': 0.828445},
  '2023-02-09': {'EUR': 0.93105, 'GBP': 0.82535},
  '2023-02-10': {'EUR': 0.93465, 'GBP': 0.829119},
  '2023-02-11': {'EUR': 0.93445, 'GBP': 0.828912},
  '2023-02-12': {'EUR': 0.936475, 'GBP': 0.829699},
  '2023-02-13': {'EUR': 0.93196, 'GBP': 0.822945},
  '2023-02-14': {'EUR': 0.93153, 'GBP': 0.821475},
  '2023-02-15': {'EUR': 0.93528, 'GBP': 0.83069},
  '2023-02-16': {'EUR': 0.937599, 'GBP': 0.835075},
  '2023-02-17': {'EUR': 0.93285, 'GBP': 0.83022},
  '2023-02-18': {'EUR': 0.932804, 'GBP': 0.830289},
  '2023-02-19': {'EUR': 0.935898, 'GBP': 0.83126},
  '2023-02-20': {'EUR': 0.93605, 'GBP': 0.830695},
  '2023-02-21': {'EUR': 0.93882, 'GBP': 0.82585},
  '2023-02-22': {'EUR': 0.942901, 'GBP': 0.83006},
  '2023-02-23': {'EUR': 0.94355, 'GBP': 0.83216},
  '2023-02-24': {'EUR': 0.94475, 'GBP': 0.83717},
  '2023-02-25': {'EUR': 0.944804, 'GBP': 0.837065},
  '2023-02-26': {'EUR': 0.94748, 'GBP': 0.836725},
  '2023-02-27': {'EUR': 0.94255, 'GBP': 0.829125},
  '2023-02-28': {'EUR': 0.94546, 'GBP': 0.831075},
  '2023-03-01': {'EUR': 0.93729, 'GBP': 0.831485},
  '2023-03-02': {'EUR': 0.94345, 'GBP': 0.836775},
  '2023-03-03': {'EUR': 0.93904, 'GBP': 0.83091},
  '2023-03-04': {'EUR': 0.93895, 'GBP': 0.83091},
  '2023-03-05': {'EUR': 0.94106, 'GBP': 0.831285},
  '2023-03-06': {'EUR': 0.93575, 'GBP': 0.83147},
  '2023-03-07': {'EUR': 0.94793, 'GBP': 0.84548},
  '2023-03-08': {'EUR': 0.94791, 'GBP': 0.843925},
  '2023-03-09': {'EUR': 0.94479, 'GBP': 0.838815},
  '2023-03-10': {'EUR': 0.938304, 'GBP': 0.830979},
  '2023-03-11': {'EUR': 0.938304, 'GBP': 0.830979},
  '2023-03-12': {'EUR': 0.93604, 'GBP': 0.827965},
  '2023-03-13': {'EUR': 0.93255, 'GBP': 0.82165},
  '2023-03-14': {'EUR': 0.932202, 'GBP': 0.82297},
  '2023-03-15': {'EUR': 0.94491, 'GBP': 0.828615},
  '2023-03-16': {'EUR': 0.94217, 'GBP': 0.82578},
  '2023-03-17': {'EUR': 0.93005, 'GBP': 0.820883},
  '2023-03-18': {'EUR': 0.93005, 'GBP': 0.821187},
  '2023-03-19': {'EUR': 0.93647, 'GBP': 0.820569},
  '2023-03-20': {'EUR': 0.93294, 'GBP': 0.814765},
  '2023-03-21': {'EUR': 0.92817, 'GBP': 0.818045},
  '2023-03-22': {'EUR': 0.91996, 'GBP': 0.814399},
  '2023-03-23': {'EUR': 0.92292, 'GBP': 0.814239},
  '2023-03-24': {'EUR': 0.927604, 'GBP': 0.817862},
  '2023-03-25': {'EUR': 0.927504, 'GBP': 0.817862},
  '2023-03-26': {'EUR': 0.927945, 'GBP': 0.81676},
  '2023-03-27': {'EUR': 0.92535, 'GBP': 0.813215},
  '2023-03-28': {'EUR': 0.92266, 'GBP': 0.81112},
  '2023-03-29': {'EUR': 0.922231, 'GBP': 0.81225},
  '2023-03-30': {'EUR': 0.91706, 'GBP': 0.807305},
  '2023-03-31': {'EUR': 0.919904, 'GBP': 0.81011},
  '2023-04-01': {'EUR': 0.919904, 'GBP': 0.810045},
  '2023-04-02': {'EUR': 0.92544, 'GBP': 0.813715},
  '2023-04-03': {'EUR': 0.91655, 'GBP': 0.80499},
  '2023-04-04': {'EUR': 0.91255, 'GBP': 0.80015},
  '2023-04-05': {'EUR': 0.91709, 'GBP': 0.8024},
  '2023-04-06': {'EUR': 0.91577, 'GBP': 0.804005},
  '2023-04-07': {'EUR': 0.909404, 'GBP': 0.805283},
  '2023-04-08': {'EUR': 0.909404, 'GBP': 0.805088},
  '2023-04-09': {'EUR': 0.91639, 'GBP': 0.80451},
  '2023-04-10': {'EUR': 0.92005, 'GBP': 0.80703},
  '2023-04-11': {'EUR': 0.915989, 'GBP': 0.80448},
  '2023-04-12': {'EUR': 0.90934, 'GBP': 0.80049},
  '2023-04-13': {'EUR': 0.90487, 'GBP': 0.79845},
  '2023-04-14': {'EUR': 0.900604, 'GBP': 0.804904},
  '2023-04-15': {'EUR': 0.900604, 'GBP': 0.804959},
  '2023-04-16': {'EUR': 0.91035, 'GBP': 0.80648},
  '2023-04-17': {'EUR': 0.91533, 'GBP': 0.808085},
  '2023-04-18': {'EUR': 0.91111, 'GBP': 0.80475},
  '2023-04-19': {'EUR': 0.91309, 'GBP': 0.80461},
  '2023-04-20': {'EUR': 0.91172, 'GBP': 0.803729},
  '2023-04-21': {'EUR': 0.901104, 'GBP': 0.80415},
  '2023-04-22': {'EUR': 0.901104, 'GBP': 0.804182},
  '2023-04-23': {'EUR': 0.90976, 'GBP': 0.80335},
  '2023-04-24': {'EUR': 0.90435, 'GBP': 0.800064},
  '2023-04-25': {'EUR': 0.9108, 'GBP': 0.805485},
  '2023-04-26': {'EUR': 0.90539, 'GBP': 0.80189},
  '2023-04-27': {'EUR': 0.906503, 'GBP': 0.800181},
  '2023-04-28': {'EUR': 0.898704, 'GBP': 0.795608},
  '2023-04-29': {'EUR': 0.898704, 'GBP': 0.79526},
  '2023-04-30': {'EUR': 0.90822, 'GBP': 0.796365},
  '2023-05-01': {'EUR': 0.911701, 'GBP': 0.80105},
  '2023-05-02': {'EUR': 0.90822, 'GBP': 0.80155},
  '2023-05-03': {'EUR': 0.90346, 'GBP': 0.79564},
  '2023-05-04': {'EUR': 0.90723, 'GBP': 0.79473},
  '2023-05-05': {'EUR': 0.89204, 'GBP': 0.791202},
  '2023-05-06': {'EUR': 0.89204, 'GBP': 0.791202},
  '2023-05-07': {'EUR': 0.90758, 'GBP': 0.79176},
  '2023-05-08': {'EUR': 0.90944, 'GBP': 0.79288},
  '2023-05-09': {'EUR': 0.91205, 'GBP': 0.79213},
  '2023-05-10': {'EUR': 0.91044, 'GBP': 0.792016},
  '2023-05-11': {'EUR': 0.91644, 'GBP': 0.79951},
  '2023-05-12': {'EUR': 0.914104, 'GBP': 0.803084},
  '2023-05-13': {'EUR': 0.914104, 'GBP': 0.8026},
  '2023-05-14': {'EUR': 0.92146, 'GBP': 0.80318},
  '2023-05-15': {'EUR': 0.91968, 'GBP': 0.79842},
  '2023-05-16': {'EUR': 0.92036, 'GBP': 0.80105},
  '2023-05-17': {'EUR': 0.92268, 'GBP': 0.801131},
  '2023-05-18': {'EUR': 0.92807, 'GBP': 0.805689},
  '2023-05-19': {'EUR': 0.923904, 'GBP': 0.803277},
  '2023-05-20': {'EUR': 0.923904, 'GBP': 0.803439},
  '2023-05-21': {'EUR': 0.92401, 'GBP': 0.80253},
  '2023-05-22': {'EUR': 0.92501, 'GBP': 0.80425},
  '2023-05-23': {'EUR': 0.92856, 'GBP': 0.80536},
  '2023-05-24': {'EUR': 0.92975, 'GBP': 0.80837},
  '2023-05-25': {'EUR': 0.93248, 'GBP': 0.81183},
  '2023-05-26': {'EUR': 0.93185, 'GBP': 0.809913},
  '2023-05-27': {'EUR': 0.93185, 'GBP': 0.809979},
  '2023-05-28': {'EUR': 0.932602, 'GBP': 0.80995},
  '2023-05-29': {'EUR': 0.93394, 'GBP': 0.809796},
  '2023-05-30': {'EUR': 0.93185, 'GBP': 0.805715},
  '2023-05-31': {'EUR': 0.93515, 'GBP': 0.80345},
  '2023-06-01': {'EUR': 0.92933, 'GBP': 0.798375},
  '2023-06-02': {'EUR': 0.93235, 'GBP': 0.803084},
  '2023-06-03': {'EUR': 0.93235, 'GBP': 0.803181},
  '2023-06-04': {'EUR': 0.934802, 'GBP': 0.80453},
  '2023-06-05': {'EUR': 0.93358, 'GBP': 0.80434},
  '2023-06-06': {'EUR': 0.93478, 'GBP': 0.80463},
  '2023-06-07': {'EUR': 0.93396, 'GBP': 0.80361},
  '2023-06-08': {'EUR': 0.92744, 'GBP': 0.79624},
  '2023-06-09': {'EUR': 0.928904, 'GBP': 0.795171},
  '2023-06-10': {'EUR': 0.928904, 'GBP': 0.795513}}}

In [24]:
df1 = pd.DataFrame(response.json()['rates'])
df1

,2023-01-01,2023-01-02,2023-01-03,2023-01-04,2023-01-05,2023-01-06,2023-01-07,2023-01-08,2023-01-09,2023-01-10,...,2023-06-01,2023-06-02,2023-06-03,2023-06-04,2023-06-05,2023-06-06,2023-06-07,2023-06-08,2023-06-09,2023-06-10
EUR,0.934185,0.93656,0.948180,0.94265,0.950397,0.937750,0.937750,0.938440,0.93158,0.931220,...,0.929330,0.932350,0.932350,0.934802,0.93358,0.93478,0.93396,0.92744,0.928904,0.928904
GBP,0.826446,0.82904,0.835515,0.82931,0.839571,0.826925,0.826925,0.825395,0.82058,0.822785,...,0.798375,0.803084,0.803181,0.804530,0.80434,0.80463,0.80361,0.79624,0.795171,0.795513