In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer

In [14]:
df = pd.read_csv("/content/titanic_toy.csv")

In [16]:
df.isnull().mean()

Age         0.198653
Fare        0.050505
Family      0.000000
Survived    0.000000
dtype: float64

In [17]:
X = df.drop(columns=["Survived"])
Y = df["Survived"]

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [7]:
transformer = ColumnTransformer(transformers=[
    ("trf1",SimpleImputer(strategy="median"),["Age"]),
    ("trf2",SimpleImputer(strategy="mean"),["Fare"])
], remainder="passthrough")

In [11]:
X_train = transformer.fit_transform(X_train)

In [12]:
X_test = transformer.fit(X_test)

In [19]:
transformer = ColumnTransformer(transformers=[
    ("trf1",SimpleImputer(strategy="constant", fill_value=99),["Age"]),
    ("trf2",SimpleImputer(strategy="constant", fill_value=999),["Fare"])
])

In [21]:
X_train = transformer.fit_transform(X_train)

In [22]:
X_test = transformer.transform(X_test)